.security-check-info-container {
  color: var(--text-color);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
}

.security-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.5rem;
  width: fit-content;
}

.security-check-info-container h2 {
  font-size: 2em;
  margin-bottom: 2rem;
}

.security-check-info-container p {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.security-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.security-status-circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  margin: 20px 0;
}

.security-status-text {
  font-size: 3rem;
  font-weight: bold;
  transform: rotate(90deg);
}

.security-status-circle circle:first-child {
  stroke: var(--error-color);
}

.security-status-circle circle:nth-child(2) {
  stroke: var(--success-color);
}

.security-check-password-container {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  padding: 20px;
}

.insecure-passwords,
.duplicate-passwords {
  background-color: var(--component-color);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 3rem;
  width: 100%;
}

.insecure-passwords h2,
.duplicate-passwords h2 {
  margin-bottom: 20px;
}

.insecure-passwords ul,
.duplicate-passwords ul {
  list-style: none;
  padding: 0;
}

.insecure-passwords li,
.duplicate-passwords li {
  background-color: var(--input-color);
  border: 1px solid var(--border-color);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.security-check-password-container::-webkit-scrollbar {
  width: 10px;
}

.security-check-password-container::-webkit-scrollbar-track {
  background: var(--component-color);
  border-radius: 10px;
}

.security-check-password-container::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 10px;
  border: 3px solid var(--component-color);
}

.security-check-password-container {
  scrollbar-width: thin;
  scrollbar-color: var(--border-color) var(--component-color);
}

.security-check-password-container::-webkit-scrollbar-thumb:hover {
  background-color: darken(var(--border-color), 10%);
}

@media (min-width: 1125px) {
  .security-check-info-container {
    font-size: 3rem;
  }

  .security-info {
    justify-content: space-between;
    margin: 3rem;
  }

  .security-check-password-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    overflow-x: hidden;
    gap: 20px;
  }

  .insecure-passwords,
  .duplicate-passwords {
    margin-bottom: 0;
    font-size: 4rem;
    width: 100%;
  }

  .security-status-circle {
    transform: rotate(-90deg) scale(2);
    margin: 100px 0;
  }

  .security-info-wrapper {
    font-size: 3rem;
  }

  .security-check-info-container h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}
