.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-title {
  text-align: center;
  width: 100%;
  color: var(--text-color);
  margin-bottom: 3rem;
}

.auth-container form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.auth-input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 1.4rem;
  background-color: var(--input-color);
  color: var(--text-color);
}

.auth-button {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: bold;
  transition: all 0.3s ease;
  background-color: var(--button-color);
  color: var(--text-color);
}

.auth-button:hover {
  background-color: var(--button-color-hover);
}

.auth-error {
  color: var(--error-color);
}

.auth-submit-button {
  background-color: var(--button-color);
  color: var(--text-color);
}

.auth-switch-button {
  background-color: var(--component-color);
  color: var(--text-color);
}

.auth-text {
  text-align: center;
  color: var(--text-color);
}

.auth-input:focus,
.auth-button:focus {
  outline: 3px solid var(--input-focus-color);
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .auth-container form {
    padding: 20px;
    border-radius: 8px;
    background-color: var(--component-background-color);
  }

  .auth-input,
  .auth-button {
    margin-top: 15px;
  }

  .auth-button:hover {
    opacity: 0.9;
  }

  .auth-signup-button {
    background-color: var(--gray);
  }

  .auth-signup-button:hover {
    background-color: var(--dust);
  }
}
