section {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.dashboard {
  max-width: 1800px;
  max-height: 1000px;
  display: grid;
  height: 100vh;
  margin: auto;
  padding: 16px;
  grid-template-areas:
    "security-info"
    "security-passwords"
    "password-generator"
    "backup";
}

.security-check-info-container,
.security-check-password-container,
.password-generator,
.backup {
  background-color: var(--component-background-color);
  height: 100%;
  border-radius: 0;
}

.security-check-info-container {
  grid-area: security-info;
}

.security-check-password-container {
  grid-area: security-passwords;
}

.password-generator {
  grid-area: password-generator;
}

.backup {
  grid-area: backup;
}

@media (min-width: 1125px) {
  section {
    margin-top: 0;
  }
  .dashboard {
    font-size: 4rem;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "security-info security-info security-passwords security-passwords"
      "security-info security-info security-passwords security-passwords"
      "security-info security-info password-generator backup"
      "security-info security-info password-generator backup";
  }

  .security-check-info-container,
  .security-check-password-container,
  .password-generator,
  .backup {
    height: 100%;
  }

  .security-check-container,
  .security-check-info-container,
  .security-check-password-container {
    grid-template-columns: none;
  }
}
