.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.security-info,
.insecure-passwords,
.duplicate-passwords,
.password-generator,
.local-backup {
  background: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}
