/* ---------------------------------- Start of global color vars ---------------------------------- */

:root {
  --component-color: #252c41;
  --component-background-color: #2b3348;
  --background-color: #1c2029;
  --text-color: #d1d1d1;
  --button-color: #3a8dca;
  --button-color-hover: #2b3348;
  --input-color: #2a3147;
  --input-focus-color: #3a8dca;
  --border-color: #3a3f4b;
  --success-color: #27ae60;
  --warning-color: #f2c94c;
  --error-color: #cd1605;
}

/* ---------------------------------- End of global color vars ---------------------------------- */

/* ---------------------------------- Start of global styling ---------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  font-size: 10rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nanum Gothic", sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ---------------------------------- Debugging ---------------------------------- */
.border {
  border: 1px solid var(--error-color);
}
