/* ---------------------------------- Start of navbar styling ---------------------------------- */

.navbar {
  background-color: var(--red);
  color: var(--white);
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar a {
  color: var(--white);
  font-size: 1.4rem;
  text-transform: uppercase;
}

/* ---------------------------------- End of navbar styling ---------------------------------- */
