/* ---------------------------------- Start of navbar styling ---------------------------------- */

.navbar {
  background-color: var(--component-color);
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  gap: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar a {
  color: var(--text-color);
  font-size: 1.4rem;
  text-transform: uppercase;
}

.navbar a.active {
  color: var(--input-focus-color);
}

/* ---------------------------------- End of navbar styling ---------------------------------- */
