.password-generator {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.password-generator h3 {
  align-self: center;
}

.password-length-wrapper,
.generated-password-wrapper {
  display: flex;
  gap: 10px;
}

.password-length-wrapper input,
.generated-password-wrapper input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #555;
  color: white;
}

.password-length-wrapper button,
.generated-password-wrapper button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #777;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px;
}

.password-generator button:hover {
  background-color: #888;
}

@media (min-width: 1024px) {
  .password-generator {
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 4rem;
  }
}
