.password-generator {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

.password-generator h3 {
  text-align: center;
  margin-bottom: 30px;
}

.password-length-wrapper,
.generated-password-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.password-length-wrapper input {
  width: 30%;
  margin-right: 10px;
  background-color: #555;
  border: 1px solid #666;
  color: white;
  padding: 10px;
  border-radius: 5px css Copy code;
}

.password-length-wrapper button {
  width: 68%; /* Größer als das Länge-Feld */
  padding: 10px 15px;
}

.generated-password-wrapper input {
  flex-grow: 1;
  margin-right: 10px;
  background-color: #4b4b4b;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.generated-password-wrapper button {
  width: 30%;
}

.password-generator button {
  border: none;
  border-radius: 5px;
  background-color: #777;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.password-generator button:hover {
  background-color: #888;
}

.password-generator .copy-button {
  background-color: #4caf50;
}

.password-generator .copy-button:hover {
  background-color: #66bb6a;
}

.password-generator input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.password-generator .generated-password-wrapper input {
  font-family: monospace;
}

@media (max-width: 600px) {
  .password-generator {
    width: 90%;
  }

  .password-length-wrapper input,
  .generated-password-wrapper button {
    padding: 8px;
    font-size: 14px;
  }

  .password-generator button {
    padding: 8px 10px;
  }
}

@media (min-width: 601px) {
  .password-generator {
    width: 450px;
  }

  .password-length-wrapper input {
    width: 20%;
  }

  .password-length-wrapper button {
    width: 78%;
  }
}
